/* colours
		#cc3865 - magenta
		#b2a215 - Yellow-beige
		#c5b844 - Border
		#ffe524 - Header Yellow

		*/






body {
	margin: 0;
	line-height: 1.5

}

main {
	padding: 0.5em;
}

html {
	margin: 0;
	line-height: 1.5;
}


header {
	background-color: #ffe524;
}

h1 {
	background-color: #ffe524;
	text-align: center;
	margin: 0;
	padding-top: 0.15em;
	color: #cc3865;
}

h1, h2, h3 {
	color: #cc3865;
	font-family: 'Sigmar One', cursive;
}

h2 {
	border-top: 3px solid #ffe524;
	padding-top: 1em;
}

h3 {
	font-size: 1.1rem;
}

nav {
	text-align: center;
}

nav ul{
	margin: 0;
	padding: 0 0 0.5em 0;

}

nav li {
	display: inline-block;
}

nav a{
	color: white;
	text-decoration: none;
	background-color: #b2a215;
	padding: 0.2em 0.5em 0.1em 0.5em;
	border-radius: 0.25em;
	text-align: center;
	display: inline-block;
}

nav a:hover {
	background-color: #cc3865;
}

.quotationmark {
	color: #b2a215;
	text-align: center;
	font-size: 3rem;
	margin: 0;
}

.quote {
	color: #b2a215;
	text-align: center;
	font-style: italic;
	font-size: 1.1rem;
	margin: 0em 5em 0em 5em;
}

.byline {
	color: #b2a215;
	text-align: center;
	font-style: italic;
	font-size: 1.1rem;
	margin: 0em 5em 0em 5em;
}

figure {
	border: 2px solid #c5b844;
	border-radius: 0.5em;
	padding: 0.5em;
	background-color: #fffce0;
	margin: 0;
}

figcaption {
	text-align: center;
	font-style: italic;
}


img {
	width: 100%;
}

dd {
	margin: 0;
}

dt{
	font-weight: bold;
}

.per {
	font-style: italic;
}

footer {
	background-color: #ffe524;
	padding: 1em;
}

 footer p {
 	text-align: center;
 }

 footer a {
 	color: #cc3865;
 }
